.dropdown-icon {
  position: absolute;
  top: 14px;
  right: 6px;
  color: #9d9d9d;
}

.main-menu-item a {
  display: inline-block !important;
  vertical-align: middle;
}
.main-menu-item a.with-submenu {
  padding-right: 30px;
}

.sub-menu {
  position: absolute;
  list-style: none;
  background: #222222;
  padding: 0;
  display: none;
}
.sub-menu.open {
  display: block;
}
.sub-menu li {
  padding: 0;
}
.sub-menu li a {
  color: #9d9d9d;
  text-decoration: none;
  padding: 4px 32px 4px 16px;
  width: 100%;
  min-width: 100px;
}
.sub-menu li a:first-child {
  padding-top: 8px;
}
.sub-menu li a:last-child {
  padding-bottom: 16px;
}
.sub-menu li a:hover {
  color: #fff;
}
