.separator
  &.active
    box-shadow: 0px 0px 2px 1px #75C5FF
    height: 14px
  &.dragover
    box-shadow: 0px 0px 2px 3px #03A9F4

.editable-container
  position: relative
  display: inline-block
.edit-icons
  position: absolute
  right: -50px
  top: -3px
.edit-icon, .done-icon
  display: inline-block
  cursor: pointer
  vertical-align: middle

.to-edit[contenteditable="true"]
  outline: none
  box-shadow: 0px 0 3px 2px #2196F3
  padding: 2px 12px 6px 6px

[data-component-type]
  &[draggable="true"]
    cursor: -webkit-grab
    cursor: -moz-grab
    cursor: -o-grab
    cursor: grab

.editor-wrapper
  max-height: 0
  overflow: hidden
  transition: all ease 0.4s
  &.open
    max-height: 1000px
    margin-top: 16px
  .ta-text
    &.ta-editor
      padding: 10px
      background-color: #fff
      border: 1px solid #eee
      height: initial
  [contenteditable="true"]
    outline: none
